AIRFLOW_UID=501
AIRFLOW_PROJ_DIR=.
AIRFLOW__WEBSERVER__SECRET_KEY=temporary_secret_key_for_local_dev
AIRFLOW__API__SECRET_KEY=temporary_secret_key_for_local_dev
AIRFLOW__CORE__SECRET_KEY=temporary_secret_key_for_local_dev
AIRFLOW__API_AUTH__JWT_SECRET=temporary_secret_key_for_local_dev
# why isn't it "temporary_secret_key_for_local_dev"? it must be a base64-encoded 32-byte key generated using the cryptography.fernet Python library. 
AIRFLOW__CORE__FERNET_KEY=h8Fd9niUw0UzdOrB4Oaria1DWRmv10wM2hBSOKJXGtk=
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=mongopassword
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
MONGO_URI=mongodb://root:mongopassword@mongodb:27017/
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
